dr1.aux
dr1.log
dr1.out
dr1.pdf
dr1.synctex.gz
ICD-10-Medical-Diagnosis-Codes.pdf
Untitled.ipynb
all_ndcs.csv
blp_notes.ipynb
blp_todo.txt
drug_characteristics.dta
drug_ms_mlt.accdb
ndc_hand_found.csv
ndc_scraped.csv
ndc_unfound.csv
ndc_unfound_2.csv
opioid_11digitNDC_mmes.csv
opioid_class_list.dta
opioid_ingredient_list.csv
opioid_ndc_list.csv
other_pain_meds.csv
other_pain_meds.xls
pharm_class_list.dta
scoping_ex.jl
sql query.txt
state_demographics.csv
str_match_likely.jl
unique_ndcs.csv
par_test.jl
pmap_test.jl
national_shares.csv
blp_notes.md

